<div class="container">
    <h2 style="color:white">Admin page</h2>
    <div style="margin-bottom: 30px">
    <a class="btn btn-btn-primary btn-lg" href="" role="button" style="background-color: white;color: dodgerblue"><b>For insert new car please click button Create</b></a>
    <a class="btn btn-primary btn-lg" href="" role="button" data-toggle="modal" data-target="#myModal" ng-click='hideUbdateButton("create")'>Create</a>
    </div>


    <div>
        <table border="3" style="background-color:lightcyan">
        <tr style="background-color: dodgerblue; color: white">
            <td class="smallText1">Number</td>
            <td class="smallText1">ID</td>
            <td class="smallText1">Year</td>
            <td class="smallText1">Make</td>
            <td class="smallText1">Model</td>
            <td class="smallText1">Image</td>
            <td class="smallText1">Condition</td>
            <td class="smallText1">Body</td>
            <td class="smallText1">Tranmission</td>
            <td class="smallText1">Use Way</td>
            <td class="smallText1">Price</td>
            <td class="smallText1" >Stars</td>
            <td class="smallText1">Description</td>
            <td class="smallText1" colspan="2">Actions</td>
        </tr>
        <tr ng-repeat="(key, x) in cars">
            <td class="smallText">{{ key+1}}</td>
            <td class="smallText">{{ x._id }}</td>
            <td class="smallText">{{ x.year }}</td>
            <td class="smallText">{{ x.make }}</td>
            <td class="smallText">{{ x.model }}</td>
            <td class="smallText"><img src="../../node/images/{{x.img[0].filename}}" style="height: 80px;width:130px;"></br>{{x.img[0].filename}}</td>
            <td class="smallText">{{ x.condition }}</td>
            <td class="smallText">{{ x.body }}</td>
            <td class="smallText">{{ x.tranmission }}</td>
            <td class="smallText">{{ x.useWay }}</td>
            <td class="smallText">{{ x.price }}</td>
            <td class="smallText">{{ x.stars }}</td>
            <td class="smallText">{{ x.description }}</td>
            <td><a class="btn btn-warning btn-sm"  role="button" ng-click="editUser(x._id, 'update')" data-toggle="modal" data-target="#myModal">Edit</a></td>
            <td><a class="btn btn-danger btn-sm" role="button" ng-click="deleteCar(x._id)">Delete</a></td>
        </tr>
        </table>
    </div>

    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Car parametrs</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form name="myForm" enctype="multipart/form-data">

                        <div class="form-group">
                            <label for="year">Year:</label>
                            <input ng-model="car.year" type="number" class="form-control" id="year" placeholder="Enter Year" name="year">
                        </div>

                        <div class="form-group">
                            <label for="make">Make:</label>
                            <input ng-model="car.make" type="text" class="form-control" id="make" placeholder="Enter Make" name="make">
                        </div>

                        <div class="form-group">
                            <label for="model">Model:</label>
                            <input  ng-model="car.model" type="text" class="form-control" id="model" placeholder="Enter Model" name="model">
                        </div>

                        <div class="form-group">
                            <label for="image">Image:</label>
                            <input file-model = "car.file" type="file" class="form-control" id="image">
                        </div>

                        <div class="form-group">
                            <label for="condition">Condition:</label>
                            <input ng-model="car.condition" type="text" class="form-control" id="condition" placeholder="Enter condition" name="condition">
                        </div>

                        <div class="form-group">
                            <label for="body">Body:</label>
                            <input ng-model="car.body" type="text" class="form-control" id="body" placeholder="Enter Body" name="body">
                        </div>

                        <div class="form-group">
                            <label for="tranmission">Tranmission:</label>
                            <input ng-model="car.tranmission" type="text" class="form-control" id="tranmission" placeholder="Enter Tranmission" name="tranmission">
                        </div>

                        <div class="form-group">
                            <label for="useWay">Use way:</label>
                            <input ng-model="car.useWay" type="number" class="form-control" id="useWay" placeholder="Enter use way" name="useWay">
                        </div>

                        <div class="form-group">
                            <label for="price">Price:</label>
                            <input ng-model="car.price" type="number" class="form-control" id="price" placeholder="Enter price" name="price">
                        </div>

                        <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea ng-model="car.description" type="text" class="form-control" id="description" placeholder="Enter description" name="description">
                            </textarea>
                        </div>


                        <div id="create">
                        <button ng-click="create()" ng-show="action==='create'" class="btn btn-primary">Create</button>
                        </div>

                        <div id="update">
                        <button ng-click="update()" ng-show="action==='update'" class="btn btn-warning">Update</button>
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</div>
<!--
<a ui-sref="edit({id:user._id})">Edit</a> |
<a href="#" ng-click="deleteUser(user._id)">Delete</a>
-->







